<footer>
	<div class="container">
		<div class="row">
			<div class="span12 footer-nav">
				<nav class="the-footer-nav">
						{exp:structure:nav css_id="sub-nav"}
				</nav>
			</div>
			<div class="span12 footer-infos">
				<div class="row">
					<div class="span8">
						<p class="padded">
							<strong>Groupement de Gestion s.c.r.l.</strong><br />
							Place du Tilleul, 3  &bull;  4181 FILOT – HAMOIR  &bull;  Tel. : 086/40.01.12  &bull;  Fax : 086/40.02.69<br />
							<a href="mailto:groupementdegestion@skynet.be">groupementdegestion@skynet.be</a>
						</p>
					</div>
					<div class="span4">
						<p class="padded">
							&copy; 2013, Groupement de Gestion<br />
							Site by <a href="http://www.studiobreakfast.be" title="Studio Breakfast">Studio Breakfast</a>
						</p>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
</footer>