<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<header>
	<div class="container">
		<div class="row">
			<div class="span12" id="entete">
				<img src="{global:theme_url}img/logo.gif" title="Groupement de gestion" alt="Groupement de gestion">
				
				<nav class="head-nav">
					{exp:structure:nav css_id="main-nav"}
				</nav>
			</div>
		</div>
	</div>
</header>