@import "compass/css3/border-radius";
@import "compass/css3/transition";
/* ---------------------------------------------------------------------------------------
- APPLICATION
--------------------------------------------------------------------------------------- */
a,
a:link {
	color: $dark_green;
}
a:active,
a:hover {
	
}

#homeCarousel {
	width: 880px;
	margin: 0 30px;
	padding: 0;
	
	.carousel-inner {
		height: 370px;
	}
	.my-carousel-caption {
		position: absolute;
		right: 92px;
		padding: 15px 40px 0;
		bottom: 0;
		width: auto;
		height: 30px;
		font-family: "WFMisoRegular";
		text-align: center;
		background-color: $light_grey;
		font-size: 16px;
	}
	a.my-carousel-control {
		position: absolute;
		bottom: 0;
		width: 45px;
		height: 45px;
		border-radius: 0;
		border: 0;
		opacity: 1;
		text-indent: -9999px;
		bottom: 0;
	}
	a.my-carousel-control.left {
		right: 46px;
		background: transparent url('../img/arr-left.gif') no-repeat 0 0;
	}
	a.my-carousel-control.right {
		right: 0;
		background: transparent url('../img/arr-right.gif') no-repeat 0 0;
	}
}
.slide-global-container {
	padding: 0 0 30px;
	border-bottom: 1px solid $lighter_green;
}
.page-content {
	padding: 30px;
	font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
	
	h1 {
		font-size: 25px;
		line-height: 1.35em;
		color: $header_green;
	}
	h2 {
		font-size: 22px;
		line-height: 1.35em;
		color: $header_green;
	}
	h3 {
		font-size: 18px;
		line-height: 1.35em;
		color: $header_green;
	}
	.page-item {
		border-bottom: 1px solid $lighter_green;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.page-item.last {
		border-bottom: none;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

h3.actus {
	color: #afb432;
	font-weight: bold;
	padding-left: 30px;
}

#actusCarousel {
	width: 240px;
	margin: 0 30px;
	padding: 0;
	
	.actu-slide-content {
		height: 200px;
		padding: 15px 30px;
		background-color: $light_grey;
		p {
			line-height: 1.4;
		}
		p.actu-date {
			margin: 0;
			color: $header_green;
		}
		h4.actu-title {
			margin-top: 0;
			color: $header_green;
		}
	}
	a.actu-more {
		text-align: right;
		color: #afb432;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 12px;
	}
	a.my-carousel-control {
		position: absolute;
		top: 411px;
		width: 45px;
		height: 45px;
		border-radius: 0;
		border: 0;
		opacity: 1;
		text-indent: -9999px;
	}
	a.my-carousel-control.left {
		left: 0;
		background: transparent url('../img/arr-left.gif') no-repeat 0 0;
	}
	a.my-carousel-control.right {
		left: 46px;
		background: transparent url('../img/arr-right.gif') no-repeat 0 0;
	}
}

.actu-item {
	border-bottom: 1px solid $lighter_green;
	padding-top: 20px;
	padding-bottom: 10px;
	img {
		display: block;
		float: left;
		padding: 10px;
		border: 1px solid $lighter_green;
		margin: 0 10px 10px 0;
	}
}

.dsg-doc {
	margin-bottom: 20px;
	padding-right: 30px;
	.dsg-doc-legend {
		padding: 15px 20px;
		background: $light_grey url('../img/magnify.png') no-repeat 230px 15px;
		a {
			font-weight: bold;
		}
	}
}
