@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
/* ---------------------------------------------------------------------------------------
- LAYOUT
--------------------------------------------------------------------------------------- */
body#index {
	background-color: $body_bg;
	width: 100%;
}

header {
	height: 115px;
	font-size: 15px;
}

#entete {
	background-color: $header_green;
	img {
		float: left;
	}
	.head-nav {
		float: left;
		#main-nav {
			margin-top: 40px;
			list-style: none;
			li {
				padding: 6px 8px;
				margin: 0 5px;
				float: left;
				a {
					font-family: "WFMisoRegular";
					font-size: 20px;
					color: $lighter_green;
				}
				a:hover {
					text-decoration: none;
				}
			}
			li.here, li:hover {
				background-color: #677651;
			}
			
		}
	}
}

.main-content {
	
}

.inmain {
	background-color: $white;
}
.page-title {
	border-bottom: 1px solid $lighter_green;
	h1 {
		font-family: "WFMisoBold", Helvetica, arial, sans-serif;
		font-weight: normal;
		font-size: 40px;
		text-align: center;
		color: $light_green;
		margin: 0;
	}
	h2 {
		font-family: "WFMisoBold", Helvetica, arial, sans-serif;
		font-weight: normal;
		font-size: 30px;
		text-align: center;
		color: $header_green;
		margin: 0;
	}
	padding-top: 40px;
	padding-bottom: 40px;
}

.page-title.unbordered {
	border: none;
}

.page-side {
	padding-top: 30px;
	padding-bottom: 65px;
}

footer {
	color: $lighter_green;
	.footer-nav, .footer-infos {
		background-color: $dark_green;
		border-bottom: 1px solid #4a5a3e;
		.padded {
			padding: 15px 30px;
		}
	}
	.footer-infos {
		padding: 30px 0 100px;
	}
	a,
	a:link,
	a:visited {
		color: $lighter_green;
	}
	a:active,
	a:hover {
		color: $lighter_green;
	}
	.the-footer-nav {
		float: left;
		padding: 15px 0;
		#sub-nav {
			list-style: none;
			li {
				padding: 6px 8px;
				margin: 0 5px;
				float: left;
				a {
					font-family: "WFMisoRegular";
					font-size: 20px;
					color: $lighter_green;
				}
				a:hover {
					text-decoration: none;
				}
			}
			li:first-child {
				margin: 0 5px 0 0;
			}
			li.here, li:hover {
				
			}
			
		}
	}
}
/*
#wrapper{
	position: relative;
}
.padding{
	padding:60px 60px 0 60px;
}
.padding.content{
	padding:0 60px;
}
footer{
	margin:20px 0 60px 0;
	font-size: 12px;
}
footer .container{
	padding: 10px 0;
	background-color: #000;
}
*/