$dark_white:#FBFBFB;
$dark_blue:#2C2B2B;
$gold:#B7A371;
$dark_grey:#545454;
$blue_grey:#878787;
$light_grey:#e2e2e2;
$light_blue_grey:#B8B7B8;
$dark_red:#9D0021;
$light_blue:#DBDBDB;
$brown:#69634D;
$white:#ffffff;
$body_bg:#4a5a3e;
$header_green: #273c25;
$dark_green: #1b1f18;
$light_green: #afb432;
$lighter_green: #cdd6bb;
$path_img:'../img/';