<div class="actus-slider-container">
	<h3 class="actus">Actualités</h3>
	
	<div id="actusCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			{exp:channel:entries channel="actus" limit="3" dynamic="off"}
			<div class="item {if "{count}" == 1}active{/if}">
				{if "{actu_image:total_files}"}
				{exp:ce_img:pair:himg src="{actu_image:url}" max_width="240" min_width="240" max_height="180" min_height="180"}
				<img src="{himg:made}" alt="{title}" width="{himg:width}" height="{himg:height}" />
				{/exp:ce_img:pair:himg}
				{if:else}
				<img src="{global:theme_url}img/no_img.jpg" alt="{title}" width="240" height="180" />
				{/if}
				<div class="actu-slide-content">
					<p class="actu-date">{actu_date format="%d.%m.%Y"}</p>
					<h4 class="actu-title">{title}</h4>
					<p>
						{exp:eehive_hacksaw words="20" append="..."}
						{actu_contenu}
						{/exp:eehive_hacksaw}
					</p>
					<a class="actu-more" href="{site_url}/actualite/{url_title}">Lire la suite</a>
				</div>
			</div>
			{/exp:channel:entries}
		</div>
						
		<!-- Carousel nav -->
		<a class="my-carousel-control left" href="#actusCarousel" data-slide="prev">&lsaquo;</a>
		<a class="my-carousel-control right" href="#actusCarousel" data-slide="next">&rsaquo;</a>
	</div>
	
</div>
