{embed="inc/head"}
<body id="index" class="general">
	
	{embed="inc/header"}
	
	<div class="main-content">
		<div class="container inmain">
			<div class="row">
				{exp:channel:entries channel="pages" limit="1"}
				<div class="span12 page-title">
					<h1>{title}</h1>
				</div>
				{/exp:channel:entries}
				<div class="span12">
					<div class="page-content">
						{exp:channel:entries channel="actus" limit="15" dynamic="off" orderby="actu_date"}
						<div class="actu-item clearfix">
							{if "{actu_image:total_files}"}
							{exp:ce_img:pair:himg src="{actu_image:url}" max_width="240" min_width="240" max_height="180" min_height="180"}
							<img src="{himg:made}" alt="{title}" width="{himg:width}" height="{himg:height}" />
							{/exp:ce_img:pair:himg}
							{if:else}
							<img src="{global:theme_url}img/no_img.jpg" alt="{title}" width="240" height="180" />
							{/if}
							<p class="actu-date">{actu_date format="%d.%m.%Y"}</p>
							<h4 class="actu-title">{title}</h4>
							{actu_contenu}
						</div>
						{/exp:channel:entries}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	{embed="inc/footer"}
	
	{embed="inc/jsinclusion"}
</body>
</html>