{embed="inc/head"}
<body id="index" class="general">
	
	{embed="inc/header"}
	
	<div class="main-content">
		<div class="container inmain">
			<div class="row">
				<div class="span12 page-title unbordered">
					<h1>Le Groupement de Gestion</h1>
					<h2>Société Coopérative pour la valorisation de biens privés</h2>
				</div>
				<div class="span12 slide-global-container">
					{exp:channel:entries channel="home" limit="1" dynamic="off"}
					<div id="homeCarousel" class="carousel slide">
						<!-- Carousel items -->
						<div class="carousel-inner">
							{home_galerie}
							<div class="item {if "{count}" == 1}active{/if}">
								{exp:ce_img:pair:himg src="{url}" max_width="880" min_width="880" max_height="370" min_height="370"}
								<img src="{himg:made}" alt="{title}" width="{himg:width}" height="{himg:height}" />
								{/exp:ce_img:pair:himg}
								<div class="my-carousel-caption">
									{desc}
								</div>
							</div>
							{/home_galerie}
						</div>
						
						<!-- Carousel nav -->
						<a class="my-carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
						<a class="my-carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
					</div>
					{/exp:channel:entries}
				</div>
			</div>
			<div class="row">
				<div class="span8">
					<div class="page-content">
						{exp:channel:entries channel="pages" limit="1" entry_id="2"}
							{page_contenu}
						{/exp:channel:entries}
					</div>
				</div>
				<div class="span4 page-side">
					{embed="actus/_slider"}
				</div>
			</div>
		</div>
	</div>
	
	
	{embed="inc/footer"}
	
	{embed="inc/jsinclusion"}
</body>
</html>