{embed="inc/head"}
<body id="index" class="general">
	
	{embed="inc/header"}
	
	<div class="main-content">
		<div class="container inmain">
			<div class="row">
				{exp:channel:entries channel="pages" limit="1"}
				<div class="span12 page-title">
					<h1>{title}</h1>
				</div>
				<div class="span8">
					<div class="page-content">
						<div class="page-item">
							{exp:eehive_hacksaw cutoff="<!-- zone1 -->" cutin="" allow="<ul><li><p><b><h1><h2><h3><strong><i><em><img><a>"}
							{page_contenu}
							{/exp:eehive_hacksaw}
						</div>
						<div class="page-item last">
							{exp:eehive_hacksaw cutoff="<!-- zone2 -->" cutin="<!-- zone1 -->" allow="<ul><li><p><b><h1><h2><h3><strong><i><em><img><a>"}
							{page_contenu}
							{/exp:eehive_hacksaw}
						</div>
					</div>
				</div>
				
				<div class="span4 page-side">
					<div class="dsg-doc">
						<img src="{global:theme_url}img/dsg_1.jpg">
						<div class="dsg-doc-legend">
							<a href="#">Photoplan de la propriété</a>
						</div>
					</div>
					<div class="dsg-doc">
						<img src="{global:theme_url}img/dsg_2.jpg">
						<div class="dsg-doc-legend">
							<a href="#">Parcellaire de la propriété</a>
						</div>
					</div>
					<div class="dsg-doc">
						<img src="{global:theme_url}img/dsg_3.jpg">
						<div class="dsg-doc-legend">
							<a href="#">Fiche parcellaire</a>
						</div>
					</div>
				</div>
				{/exp:channel:entries}
			</div>
		</div>
	</div>
	
	
	{embed="inc/footer"}
	
	{embed="inc/jsinclusion"}
</body>
</html>