{embed="inc/head"}
<body id="index" class="general">
	
	{embed="inc/header"}
	
	<div class="main-content">
		<div class="container inmain">
			<div class="row">
				{exp:channel:entries channel="pages" limit="1"}
				<div class="span12 page-title">
					<h1>{title}</h1>
				</div>
				<div class="span8">
					<div class="page-content">
						{page_contenu}
					</div>
				</div>
				
				<div class="span4 page-side">
					{embed="actus/_slider"}
				</div>
				{/exp:channel:entries}
			</div>
		</div>
	</div>
	
	
	{embed="inc/footer"}
	
	{embed="inc/jsinclusion"}
</body>
</html>